@charset "utf-8";

html,
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}


img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    margin: 0;
    background: #eee;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 40px;
    color: green;
}

.services {
    display: flex;
    gap: 20px;
}

.service {
    flex: 1;
    background: #fff;
    border-radius: 6px;
}

.service img {
    width: 100%;
    height: auto;
    display: block;
}

.service-text {
    padding: 15px;
}

.service h2 {
    margin: 10px;
    color: green;
    padding-left: 10px;
    border-left: 10px solid green;
}


.service p {
    margin: 0;
    text-align: left;
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0 10px;
    }

    .services {
        display: block;
    }

    .service img {
        width: 100%;

    }
}