@charset "utf-8";

body {
    margin: 0;
    background: #eee;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: green;
}

.services {
    display: flex;
    gap: 20px;
}

.service {
    flex: 1;
    background: #fff;
    border-radius: 6px;
}

.service img {
    width: 100%;
    height: auto;
    display: block;
}

.service h2 {
    margin: 10px 10px;
    color: green;
    padding-left: 10px;
    border-left: 10px solid green;
}

.service p {
    margin: 10px 5px;
    text-align: left;
}

@media screen and (max-width: 400px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .services {
        display: block;
    }

    .service img {
        width: 100%;

    }
}